body{
    font-family: 'Ubuntu', sans-serif;

}
h1{
    font-size: 80px;
}
h2{
    font-size: 20px;
   
}
h3{
    font-size: 20px;
   
}
.orange-color{
    color: orange;
}
section{
   height: 500px;
   padding-bottom: 150px;
    display: flex;
   
}
.web-intro{
    padding-top: 50px;
    width: 50%;
    font-weight: 100px;
    padding-left: 5%;
    padding-right: 5%;
    color: rgba(128, 128, 128, 0.966);
}
.web-intro img{  
     width: 110%;
}
.web-intro p{
    
    padding-bottom: 20px;
    font-size: 25px;
}
.link-button{
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 22px 45px;
    border-radius: 35px;
    background-image: linear-gradient(orange ,magenta);
}
.about-section{
    padding-top: 50px;
    background-image: url(images/bg2.jpg);
    background-repeat: no-repeat;
}
.div-recipes {
   align-items: center;
}

.recipes-section{
    text-align: center;
    padding-left: 5%;
}
.recipes-section h2{
    font-size: 30px;
}
.recipes-section p{
    font-size: 20px;
}
.div-border{
    border: 2px solid gray;
    border-radius: 25px;
    margin-left: 2%;
    margin-right: 2%;
    padding: 50px;
    align-items: center; 
    box-shadow: 10px 10px gray; 
}
.div-recipes h2{
    text-align: center;
}
.div-border p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
}


footer{
    background-image: url(images/R.jpg);
    color: white;
    text-align: center;
    padding: 40px 20px;

}

